:root{
    --green-color:#224229;
    --PalePink-color: #F6CFB2;
    --Linen-color:#F5F0E6;
    --bgnav-color:#FCF9F3;
}
body{
    background-color: var(--bgnav-color);
}
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.15em;
}

.container-full{
    width: 100%;
}
.container-center{
    width: 1400px;
    margin: 0 auto;
}