body{
  height: 150000px;
}

.poromo-banner{
  width: 100%;
  height: 5rem;
  background-color: var(--PalePink-color);
}
.poromo-banner p{
  color: var(--green-color);
  text-align: center;
  font-size: 1.8rem;
  padding: 2rem;
}


/* Thanh menu */
.navbar {
  background: var(--bgnav-color);
  padding: 1rem 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  position: relative;
  z-index: 15000;
}
.nav-img img{
  width: 20rem;
}
.nav-bars{
  display: none;
}
.nav-category{
  display: flex;
  gap: 1.5rem;
}
.nav-login {
  display: flex;
  align-items: center;
  gap: 2rem;

}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-list {
  /* position: relative; */
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.menu-item {
  color: var(--green-color);
  font-weight: 500;
  font-size: 1.50rem;
}

.menu-item:hover {
  padding-bottom: 0.5rem;
  border-bottom: 2px solid var(--green-color);
}
.menu-search{
  display: none;
}
.nav-login-signup{
  display: none;
}
.dropdown {
  position: absolute;
  top: 4.8rem;
  left: 0;
  width: 100%;
  background: var(--bgnav-color);
  box-shadow: -5px 4px 10px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 100;
}

.dropdown-container {
  width: 90rem;
  padding: 4rem 0;
  display: flex;
  gap: 5rem ;
}

.dropdown-container a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--green-color);
}

.dropdown-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
  /* margin-right: auto; */
  /* flex: 1% 0 0; */
}

.dropdown li {
  padding: 10px 20px;
  /* margin-right: 10rem; */
  width: 30rem;
}



.dropdown-container a:hover {
  border-bottom: 2px solid var(--green-color);  
}

.menu-list:hover .dropdown {
  display: block;
}
.img-nav{
  display: flex;
  gap:2rem;
}

.img-col{
  display:flex;
  flex-direction:column;
  align-items: center;
}

.img-col img{
  width: 100%;
  height: 100%;
  margin: 0 5rem;
}
.img-col span{
  margin: 1.2rem 0;
  font-size: 1.5rem;
  color: var(--green-color);
  font-weight: bold;
}

.nav-login img {
  width: 2.8rem;
}

.nav-cart{
  position: relative;
}
.nav-cart-count{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.nav-cart-count span{
  font-size: 1.5rem;
  color: var(--green-color);
}



/* -----------main-------------- */
.banner {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}

.banner-img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.4);
}

.banner img{
  width: 100%;
  height: 100%;
}

.baner-img-content {
  position:absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-40%);
}

.baner-img-content p{
  width: 100%;
  text-align: center;
  margin: 3rem 0;
  font-weight: bold;
  color: var(--PalePink-color);
}
.baner-img-content p:first-child{
  font-size: 3.2rem;
}
.baner-img-content p:nth-child(2){
  font-size: 1.5rem;
}
.baner-img-content p:nth-child(3){
  margin: 5rem 0;
}
.baner-img-content a{
  font-size: 1.5rem;
  font-weight:bold;
  text-decoration: none;
  color: var(--PalePink-color);
  background-color: var(--green-color);
  padding: 1.4rem 5rem;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
}
.baner-img-content a:hover{
  color: var(--green-color);
  background-color: var(--bgnav-color);
  
}